

.yui-diary-container .yui-diary {
 text-align: left;
 overflow:auto;
 position: relative;
}
.yui-diary-container .yui-diary-day{
  float: left;
  padding:2px;
}

.yui-diary-container .yui-diary-hourblock{
  height: 19px;
}

.yui-diary-container .yui-diary-item{
  position: absolute;
  margin: 0;
  overflow:hidden;
}

.yui-diary-container .yui-diary-item-hidden{
 display: none;
 visibility: hidden;
}
.yui-diary-container .yui-diary-datacontainer{

}
.yui-diary-container .yui-diaryday-container{
 position: relative;
}
.yui-diary-container .yui-diary-collabel-container{
height:24px;
text-align:left;
}
.yui-diary-container .yui-diary-collabel{
 text-align: center;
 display:block;
 float:left;
 padding:2px;
 z-index: 4;
 overflow:hidden;
 height:18px;
}

.yui-diary-container .yui-diary-selector{
  position: fixed;
  border: 1px solid black;
}
.yui-diary-container .yui-diary-background{
  border-left:0;
  border-bottom:0;
}





.yui-diary-container .yui-diary-nav  {
height:45px;
position:relative;
text-align:center;
width:100%;
}

.yui-diary-container .yui-diary-nav .yui-diary-nav-right {
bottom:0;
cursor:pointer;
height:15px;
margin-right:10px;
right:-10px;
top:2px;
width:25px;
}

.yui-diary-container .yui-diary-nav .yui-diary-nav-right,
.yui-diary-container .yui-diary-nav .yui-diary-nav-left,
.yui-diary-container .yui-diary-nav .yui-diary-nav-today,
.yui-diary-container .yui-diary-nav .yui-diary-nav-calbutton{
overflow:hidden;
position:absolute;
text-indent:-10000em;
z-index:1;
}


.yui-diary-container .yui-diary-nav .yui-diary-nav-today,
.yui-diary-container .yui-diary-nav .yui-diary-nav-left,
.yui-diary-container .yui-diary-nav .yui-diary-nav-calbutton{
bottom:0;
cursor:pointer;
height:15px;
top:2px;
width:25px;
margin-right:10px;
}



.yui-diary-container .yui-diary-nav .yui-diary-nav-cal{
position:absolute;
z-index:5;
background-color: white;
}
