
.yui-skin-sam .yui-diary-container{
 border: 1px solid #DCDDDF;
 padding:2px;
}

.yui-skin-sam  .yui-diary-container .yui-diary-hourblock{
  height: 19px;
  border-bottom: 1px dotted #DCDDDF;
  font-size: 80%;
  color: gray;
}

.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h0,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h1,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h2,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h3,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h4,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h5,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h6,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h7,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h8,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h19,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h20,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h21,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h22,
.yui-skin-sam .yui-diary-container .yui-diary-hourblock.h23{
  background-color: #EFF4FF;
}

.yui-skin-sam .yui-diary-container .yui-diary-item{
  font-size: 9px;
  border: 1px solid #8899DD;
  border-width: 2px 1px;
  background-color: #EFF4FF;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-radius:3px;
}
.yui-skin-sam .yui-diary-container.yui-diary-view-month .yui-diary-item{
  border-width: 1px;
  margin-bottom:1px;
}

.yui-skin-sam .yui-diary-container .yui-diary-collabel-container{
background:transparent url(diary-sprite.png) repeat-x scroll 0 -1170px;
}

.yui-skin-sam .yui-diary-container .yui-diary-collabel{
 color:white;
 font-size:90%;
 font-weight: bold;
}

.yui-skin-sam .yui-diary-container .yui-diary-selector{
  font-size: 9px;
  border: 1px dotted #8899DD;
  border-width: 2px 1px;
  background-color: #EFF4FF;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-radius:3px;
}

.yui-skin-sam .yui-diary-container .yui-diary-background{
  border: 1px solid #A5A8AB;
  border-left:0 none;
  border-bottom:0 none;
}
.yui-skin-sam  .yui-diary-container .yui-diary-today .yui-diary-background,
.yui-skin-sam  .yui-diary-container.yui-diary-view-month .yui-diary-today div.yui-diaryday-container{
border:1px solid black;
margin:-1px;
}
.yui-skin-sam .yui-diary-container.yui-diary-view-month .yui-diary-background{
  border:0 none;
  height:100px;
  position:absolute;
  width:100px;
}
.yui-skin-sam .yui-diary-container.yui-diary-view-month .yui-diary-background div{
  font-size:10px;
  color:gray;
}

.yui-skin-sam .yui-diary-container .yui-diary-nav  {
background:#EFF4FF url(diary-sprite.png) repeat-x scroll 0 0;
}
.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-title{
 font-size: 120%;
 font-weight: bold;
 text-align: left;
 width: 100%;
}
.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-nav-right {
background:transparent url(diary-sprite.png) no-repeat scroll 0 -499px;
}
.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-nav-view {
background:transparent url(diary-sprite.png) no-repeat scroll 0 -332px;
}
.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-nav-today{
background:transparent url(diary-sprite.png) no-repeat scroll 0 -248px;
}

.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-nav-left {
background:transparent url(diary-sprite.png) no-repeat scroll 0px -457px;
}
.yui-skin-sam .yui-diary-container .yui-diary-nav .yui-diary-nav-calbutton{
background:transparent url(diary-sprite.png) no-repeat scroll 0 -291px;
margin-top:6px;
}

.yui-skin-sam .yui-diary-container .yui-diary-goto-weekview{
 background-color: #EFF4FF;
}